services:
  doc-processor:
    container_name: doc-processor
    profiles: [backend, full]
    build:
      context: .
      target: final
    ports:
      - "50052:50052"
      - "8081:8081"
    restart: unless-stopped
    environment:
      - CONFIG_PATH=/config.yaml
    volumes:
      - type: bind
        source: ./config.docker.yaml
        target: /config.yaml
        read_only: true
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      opensearch:
        condition: service_healthy

  worker:
    container_name: docs-processor-worker
    profiles: [backend, full]
    build:
      context: .
      target: cron
    restart: unless-stopped
    environment:
      - CONFIG_PATH=/config.yaml
    volumes:
      - type: bind
        source: ./config.docker.yaml
        target: /config.yaml
        read_only: true
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      rabbitmq:
        condition: service_healthy
      opensearch:
        condition: service_healthy
