services:
  core-service:
    container_name: core-service
    profiles: [backend, full]
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    volumes:
      - type: bind
        source: ./config.docker.yaml
        target: /config.yaml
        read_only: true
    ports:
      - "8085:8085"
      - "50065:50065"
    depends_on:
      core-service-db:
        condition: service_healthy
      jaeger:
        condition: service_started
      core-service-migrate:
        condition: service_completed_successfully
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.core.rule=Host(`core.6036484-cd72267.twc1.net`)"
      - "traefik.http.routers.core.entrypoints=websecure"
      - "traefik.http.routers.core.tls.certresolver=letsencrypt"
      - "traefik.http.services.core.loadbalancer.server.port=8085"

  core-service-migrate:
    container_name: core-service-migrate
    profiles: [backend, full]
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    environment:
      - CONFIG_PATH=/config.yaml
    volumes:
      - ./migrations:/migrations
      - type: bind
        source: ./config.docker.yaml
        target: /config.yaml
        read_only: true
    depends_on:
      - core-service-db
