services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    profiles: [dev, full]
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

volumes:
  rabbitmq-data:
    name: rabbitmq-data
